.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unbold {
  font-weight: normal;
}

.div-h-200 {
  height: 150px !important;
}

.h-100 {
  height: 100% !important;
}

body {
  overflow-x: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  overflow-y: scroll;
}

/* WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.927);
}

* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* mine */
input[readonly] {
  background-color: #f4f4f4;
  color: #000;
  cursor: not-allowed;
}

.z-0 {
  z-index: 1;
}

.z-999 {
  z-index: 999;
}

.small-font {
  font-size: 8px;
}

.background-banner {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../src/assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
}

.quotes-login-page {
  background-color: rgba(0, 0, 0, 1) !important;
  padding: 10px;
  border-radius: 10px;
}

.button-link {
  background-color: transparent;
  border: 0;
  outline: none;
  color: red;
}

/*  */

/* input {
  background-color: transparent !important;
} */

/* input:focus {
  background-color: transparent !important;
} */
/* input:read-only {
  background-color: transparent !important;
} */
